[2015-05-16 07:40] ykyohei opened #2 "Assets"
![usage2](https://cloud.githubusercontent.com/assets/5757351/7665217/a995f6ae-fbe8-11e4-811a-779814197a55.png)
![usage3](https://cloud.githubusercontent.com/assets/5757351/7665218/a99a6748-fbe8-11e4-89d3-e599765f0eb6.png)
![usage4](https://cloud.githubusercontent.com/assets/5757351/7665219/a99c790c-fbe8-11e4-84bc-bf03b01e8a14.png)
![usage1](https://cloud.githubusercontent.com/assets/5757351/766522

[2015-05-16 07:44] #2 closed

[2015-05-16 09:06] ykyohei commented on #2
![storyboard](https://cloud.githubusercontent.com/assets/5757351/7665532/399c740a-fbf6-11e4-9fb9-4913a8f2e446.png)
![image](https://cloud.githubusercontent.com/assets/5757351/7665531/399a88c0-fbf6-11e4-8051-0d05fa4baa38.png)

[2015-06-19 20:00] victorraft opened #5 "Add support for closing with pan gesture"
Can you please add this functionality?

[2015-06-21 08:23] ykyouhei commented on #2
* v1.0.2
![drawer](https://cloud.githubusercontent.com/assets/5757351/8270983/3e59cfe6-183a-11e5-8a9b-5a1ac1aee2bc.gif)

[2015-06-21 08:28] #5 closed

[2015-06-21 08:41] ykyouhei commented on #5
@victorraft
support for closing with pan gesture!
Please check here↓
https://github.com/ykyouhei/KYDrawerController/releases/tag/1.0.2

[2015-06-27 11:33] b1rDi3x opened #7 "Not able to replace main view"
how to replace the main view in storyboard? After clicking on the drawer?

[2015-06-27 14:45] ykyouhei commented on #7
@b1rDi3x
Please try to reference the Eample.
https://github.com/ykyouhei/KYDrawerController/tree/master/Example/Storyboard

[code]

[2015-07-03 12:12] b1rDi3x commented on #7
Is there anyway to do it without using any codes? eg. segue

[2015-07-03 14:18] ykyouhei commented on #7
@b1rDi3x
Please the following examples try to reference :+1:

![2015-07-03 23 09 39](https://cloud.githubusercontent.com/assets/5757351/8500703/83b82e5e-21d9-11e5-949c-f080d3b53bf6.png)

[code]

[2015-07-03 15:47] b1rDi3x commented on #7
thanks! got it to work!

[2015-07-03 15:47] #7 closed

[2015-07-05 10:24] seapy opened #8 "Delegate by drawer state"
Hi,

`KYDrawerController` is nice drawer.
but needed delegate, by drawer state like `DrawerState.Opened` or `DrawerState.Closed`

`func kyDrawerControllerStateChanged(state: DrawerState)`

[2015-07-05 17:03] ykyouhei commented on #8
Hi, @seapy
Added the delegate methods in [v1.0.3](https://github.com/ykyouhei/KYDrawerController/releases/tag/1.0.3) :+1:

[2015-07-06 04:44] seapy commented on #8
Thanks. it works :+1:

[2015-07-06 04:44] #8 closed

[2015-07-08 20:45] REZ1DENT3 opened #10 "support swift 2.0"
Hello.
He started to develop the application. Really liked the implementation of DrawerController. When will support Swift 2.0?

[2015-07-09 15:00] ykyouhei commented on #10
@REZ1DENT3
Hi,
Thunk you!
It is scheduled to be implemented at the end of this week.
Please wait a moment.

[2015-07-11 12:27] ykyouhei commented on #10
@REZ1DENT3
Hello.
supported swift2.0. Please try! :+1:
https://github.com/ykyouhei/KYDrawerController/releases/tag/1.1.0-bata.3

[2015-07-21 18:21] REZ1DENT3 commented on #10
Hello. Thank you very much!

[2015-07-21 18:21] #10 closed

[2015-08-30 14:52] hardikdevios commented on #7
@ykyouhei great Lib, I hope you should update your tutorial with this image and code , Let everyone know how to replace the MainView , Thanks

[2015-08-30 20:20] hardikdevios opened #11 "Passing a data from menu to ViewController"
Hey mate , is it possible to pass data to our viewcontroller ? if my code is look like this

[code]

[2015-08-31 09:23] hardikdevios commented on #11
@ykyouhei ok i have manged to Solve this issue by adding my Own Delegate

[code]

And in Same case i have Override the Preppare for segue  method

[code]

So now finally in my Own class this is where i get my result

[code]
#### so far its working nice for me, if you have better solution then these feel free to comment here :)

[2015-08-31 09:30] hardikdevios opened #12 "setDrawerState need to change the Layout subviews"
Hello i have found one another issue the instead of Layouting the subviews of Maincontroller view,  we have to layout subviews for the ```_ContainerView``` .. because thats animating the Maincontroller with weired animation
[code]
##### so here i have changed the ```self._containerView.layoutIfNeeded()``` instead of ```self.view.layoutIfNeeded()``` //Changed

[2015-09-04 10:59] ykyouhei commented on #11
@hardikdevios Hi!　I'm sorry reply becomes slow.
I think that it can pass the data in the following ways.
[code]
Could you delete the code that added the delegate method?？
#13

[2015-09-04 13:32] hardikdevios commented on #11
@ykyouhei Thank you mate for the solution i will remove the delegate Code soon

[2015-09-04 13:32] #11 closed

[2015-09-13 00:39] plummer opened #14 "Update to swift 2?"
Happy to do a PR to update this to swift 2

[2015-09-13 14:51] ykyouhei commented on #14
@plummer Hi!
After the official version xcode7 has been released , it plans to merge to master.
https://github.com/ykyouhei/KYDrawerController/tree/feature-swift2.0
https://github.com/ykyouhei/KYDrawerController/releases/tag/1.1.0-beta5

[2015-09-14 01:52] kohdesmond opened #15 "support for iOS 7?"
Hi @ykyouhei,

thanks for the awesome library, jus wondering if you are supporting iOS7?

[2015-09-14 14:45] ykyouhei commented on #15
Hi. @kohdesmond
If libraries that are implemented in the swift, the installation of at cocoapods does not support ios7.
http://stackoverflow.com/questions/29943911/include-pods-from-swift-sources-in-ios7-swift-project

If you want to support ios7 , please add the source code directly to the project .
https://github.com/ykyouhei/KYDrawerController#manually

[2015-09-17 05:55] #15 closed

[2015-09-23 07:21] seapy commented on #14
@ykyouhei official version xcode7 released ~

[2015-09-27 14:39] #14 closed

[2015-09-27 14:59] ykyouhei commented on #14
@plummer @seapy
Hi, Thank you!swift2 it was supported!
https://github.com/ykyouhei/KYDrawerController/releases/tag/1.1.0

[2015-09-30 03:30] sadanro100 opened #17 "Prevent menu from opening"
In order to prevent the menu from opening in specific ViewControllers I had to set the menu width to 0 and set it to .Closed when the delegate tells me it's been opened.

Besides not being elegant, the dark overlay appears for a slight moment.

Any other way around it?

Thanks.

[2015-09-30 04:02] sadanro100 commented on #17
Tried to prevent it in handlePanGesture of KYDrawerControllerDelegate but I am unable to determine which viewController is being displayed. That's actually something I am going to be needing quite a lot.

UIApplication.sharedApplication().keyWindow?.rootViewController always gives me KYDrawerController
UIApplication.sharedApplication().keyWindow?.rootViewController?.presentedViewController is alwa

[2015-09-30 04:54] sadanro100 commented on #17
Ok, this is how I solved it. Added this as first thing in handlePanGesture. Let me know if there's another option please...

let drawerVC = UIApplication.sharedApplication().keyWindow?.rootViewController as! KYDrawerController
        let mainVC = drawerVC.mainViewController
        if (mainVC.isKindOfClass(UINavigationController)) {
            let rootVC = (mainVC as! UINavigationController).vie

[2015-10-01 00:50] sadanro100 commented on #12
Thanks! I was about to give up on this lib because of this.

[2015-10-02 13:33] ykyouhei commented on #12
@sadanro100
I'm sorry ,  will fix the bug in the next week!

[2015-10-02 13:41] ykyouhei commented on #17
@sadanro100 Hi!
I wanted to try to add a flag to disable the gesture .

[code]

Please wait a while.

[2015-10-07 14:17] #12 closed

[2015-10-07 14:19] ykyouhei commented on #17
@sadanro100 Hi.
I've solved the problem . Please check :+1:
https://github.com/ykyouhei/KYDrawerController/releases/tag/1.1.1

[2015-10-07 14:20] #17 closed

[2015-10-07 14:31] sadanro100 commented on #17
Thank you very much for you attention and help.

:)

[2015-10-15 19:46] hardikdevios opened #19 "Feature request"
One request for this great lib that is it possible to display drawer below Navigation bar ? so that it becomes side menu under Navigation bar.

For Eg
http://i.stack.imgur.com/Zz5EX.png

[2015-10-23 16:37] haducloc opened #20 "Does KYDrawerController support State preservation/restoration?"
Thank you for very awesome drawer. I have a question. Does KYDrawerController support State preservation/restoration?

[2015-10-23 18:58] hardikdevios commented on #20
Nope its not supported currently you have to managed it manually

[2015-10-23 22:40] ykyouhei commented on #19
sorry , in the current View hierarchy , it seems hard to achieve it...

[2015-10-23 22:54] ykyouhei commented on #20
You can be disabled for the gesture to open the drawer.
https://github.com/ykyouhei/KYDrawerController/issues/17

Because I English is not good , it may not be the answer you are expecting

[2015-10-24 06:02] hardikdevios commented on #19
@ykyouhei  i Already managed to do that bro :+1:

[2015-10-25 06:09] aziz-boudi4 opened #21 "Will the KYDrawerCotroller work with a tabbed bar application ?"
Hi, I have a tabbed bar application with 5 tabs.

Each view controller is embedded in a navigation controller.

Will the KYDrawerController be compatible with this kind of configuration?

So basically I would like to have it in each view controller.

![screen shot 2015-10-24 at 11 10 55 pm](https://cloud.githubusercontent.com/assets/7435015/10714272/3db77b20-7aa4-11e5-927b-ba0f6abb305b.png)

[2015-10-25 13:26] hardikdevios commented on #21
@aziz-boudi4 probably yes you just give your main segue to the tabbarController but still we need to confirm with main Author Also one question from my side basically why you want to use KYDrawer if your purpose being solved with tabbar options

[2015-10-26 16:35] haducloc opened #22 "Setup drawer right side does not work"
Hi. Thank you again for the awesome drawer.

I have a question. I want to setup drawer on right side. I am using your code example but it does not work ( when I clicked on Open button, No drawer displayed from right side)

    drawerController.drawerDirection = .Right
    drawerController.drawerWidth     = 200

Do I have do anything in order to make Right-Drawer work?

Thanks!

[2015-10-26 19:53] hardikdevios commented on #22
@haducloc  can you tell us bit more , are you setting using the code or with storyboard?

[2015-10-26 20:34] haducloc commented on #22
I am not using Storyboard. What I did setup as below:

func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?) -> Bool {
        // Override point for customization after application launch.

        let mainViewController   = MainViewController()
        let drawerViewController = DrawerViewController()
        let drawerController     = K

[2015-10-27 00:18] ykyouhei commented on #22
@haducloc Hi!
As shown below , please try to change the order in which to set the drawerDirection.

[code]

I'm sorry, but for this bug will at a later date will correspond

@hardikdevios Thanks! :+1:

[2015-10-27 00:22] ykyouhei commented on #21
@aziz-boudi4
It can be achieved by setting the tabbarController to KYDrawerController.mainViewController.

@hardikdevios Thanks :+1:

[2015-10-27 15:54] haducloc commented on #22
Thank you ykyouhei. I will test it

[2015-10-27 19:44] #22 closed

[2015-10-28 10:57] Ritooon opened #23 "Changing the frame Y"
Hi !
First, it's a really nice project :)

Secondly, is it possible to easily change the position of the view ? I mean, the y origin.

Regards !

[2015-10-28 11:09] Ritooon commented on #23
Oh, I found how to manage ... :)

In fact if you know the position of you're navigation bar, you can easily manage it by modifying the KYDrawerController class doing this (65 is the position + the height of my nav bar) :

`view.addConstraints(
            NSLayoutConstraint.constraintsWithVisualFormat(
                "V:|-(<=65)-[_containerView]-0-|",
                options: [],

[2015-10-28 19:34] hardikdevios commented on #23
@Ritooon Great buddy i know what you are trying to achieve see my question #19 , i have done exactly the same in order to display the Drawer Below Navigation bar :+1:  cheers buddy its a great Lib very smooth and easily customizable

[2015-10-28 21:04] harshitgupta opened #24 "Animation issue - Changing drawerViewController and direction respectively."
Hi,

Thanks for the awesome project. Even more for sharing it with the community.

My scenario:
1. One Naviagtion controller in center as mainViewController.
2. Two side bar menu controller, i.e. left and right.
3. In Navigation bar, I have two bar button items on each side. One(on the left) to reveal 'main' menu from left and the other(on the right) to reveal 'sub' menu from right.

Since the ori

[2015-10-29 09:58] Ritooon commented on #23
@hardikdevios Yes, it's great library ! The best I have found until now ;)

[2015-10-29 10:17] Ritooon opened #25 "PopToRootViewController"
Hi guys !

It's me again. I tried to put a row in my tableView in the menu to perform a log out.
So I do that :

`self.navigationController?.popToRootViewControllerAnimated(true)`

But it doesn't work. I tried to put a button, in the navigation bar, it worked.

I don't know how to manage :/

**EDIT** : In fact, I can't access to the navigationController, because when I perform `print(self.navigati

[2015-10-29 10:17] #23 closed

[2015-11-02 14:22] Ritooon commented on #25
I'm using the auto layout mode (Not storyboard), but I still can't manage it ...
When I perform a `print(self.navigationController?.viewControllers)`in my secondViewController, I get all the navigationController.
But impossible to access it in the DrawerViewController ... Don't know how to do ...

[2015-11-02 16:34] hardikdevios commented on #25
ok first of all to access the Drawer you just have to write this in your menu class

       if let drawerController = navigationController?.parentViewController as? KYDrawerController {

             if let navigationObj =  drawerController.mainViewController as? UINavigationController {
                    //Pop To rootView Here
             }

       }
##### i hope this will fix the issue to pop

[2015-11-02 16:36] hardikdevios commented on #24
@harshitgupta could you please share a Demo project or any Gif animation ?

[2015-11-02 17:05] Ritooon commented on #25
Thanks for your reply.

Maybe, because of my english you misunderstood ... :/
When I open menu with this :

`if(drawerController.drawerState.hashValue == 0)
            {
                drawerController.setDrawerState(.Closed, animated: true)
            }
            else
            {
                drawerController.setDrawerState(.Opened, animated: true)
            }`

I have my TableView, a

[2015-11-02 17:08] Ritooon commented on #25
Futhermore, in my file "DrawerViewController", I only access to drawer with this :

`if let drawerController = parentViewController as? KYDrawerController
            {
                drawerController.setDrawerState(.Closed, animated: true)
            }`

[2015-11-02 19:47] hardikdevios commented on #25
@Ritooon  so now print the ````drawerController.mainViewController```` , and let mw know what its printing ?

[2015-11-03 07:53] Ritooon commented on #25
Hi ! Thank you very much for help.

If I'm logged, FirstViewController automatically push SecondViewController (`self.navigationController?.pushViewController(secondViewController, animated: true)`)

This is what I have :
____
File : AppDelegate
In func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?) -> Bool
<UINavigationController: 0x7f

[2015-11-03 15:12] ykyouhei commented on #24
@harshitgupta Hi!
I was able to reproduce the problem .
I think due to the fact that animation has been started before the constraints of view is updated..
Sorry..It is difficult to be solved soon.

@hardikdevios Thank you always :smile:

[2015-11-03 15:22] ykyouhei commented on #24
@harshitgupta
This is the first aid , but it is likely to be avoided in the code shown below.
[code]

[2015-11-03 16:08] hardikdevios commented on #25
@Ritooon  you have to change the Rootview controller by calling this

[code]

##### "firstview" will be your main rootview when user is not logged in

[2015-11-03 16:42] harshitgupta commented on #24
thanks a lot @ykyouhei and @hardikdevios

The code worked.

I was able to avoid the issue when the main viewcontroller was a part of UINavigationController hierarchy, by setting up drawerViewController property a bit earlier rather than just before opening it. Like in viewDidLoad or something. It worked perfectly fine there. But the same won't work in case of TabBarController.

Thanks again.

A li

[2015-11-03 16:42] #24 closed

[2015-11-03 19:39] hardikdevios commented on #24
:+1:  Big cheers to Author @ykyouhei

[2015-11-04 09:07] Ritooon commented on #25
I'm not using Storyboard .. :/

[2015-11-04 18:49] hardikdevios commented on #25
Yes but you can take your main file with nib code

[2015-11-05 09:03] chlebta opened #26 "Strange behavior"
Her's how I've implemented the library :
[code]
![strange](https://cloud.githubusercontent.com/assets/1204608/10963954/400c4f6e-83a4-11e5-9282-d53bf710c78e.gif)

As you can see in the gif normally the menu should appear on right not left and also the tab bar color have changed normally it's orange not white.

[2015-11-05 10:16] Ritooon commented on #25
You mean the AppDelegate ? (Where I declare my rootViewController ?)

[2015-11-05 11:44] #21 closed

[2015-11-06 01:54] haducloc commented on #26
Try set drawerController.drawerDirection = .Right BEFOR mainViewController set

       // Init drawerController BEFOR main/drawerViewController set
       drawerController.drawerDirection = .Right
       drawerController.drawerWidth     = 200

       drawerController.mainViewController = UINavigationController(
            rootViewController: tabBarController
        )
        drawerController.dra

[2015-11-08 08:46] #26 closed

[2015-11-08 08:49] ykyouhei commented on #26
@chlebta @haducloc
Thanks! fixed This bug :+1:
https://github.com/ykyouhei/KYDrawerController/releases/tag/1.1.2

[2015-11-13 17:41] harshitgupta commented on #20
hey @hardikdevios,

I tried to do it manually for couldn't get it working.

Can you please post some helping code?

[2015-11-13 23:45] zj2050 commented on #25
hi,thanks first

i want to use it with a tabBarController like this

        let drawerViewController = LeftViewController()

        drawerController.mainViewController = UINavigationController(
            rootViewController: configurationRootViewController()
        )

        drawerController.navigationController?.title = "清大微学馆";
        drawerController.drawerViewController = drawerViewContr

[2015-11-14 12:46] zj2050 opened #28 "how to connect to tabBarController like you example"
hi,thanks first

i want to use it with a tabBarController like this

    let drawerViewController = LeftViewController()

    drawerController.mainViewController = UINavigationController(
        rootViewController: configurationRootViewController()
    )

    drawerController.navigationController?.title = "tsing";
    drawerController.drawerViewController = drawerViewController

    /* Customize

[2015-11-15 11:29] ykyouhei commented on #28
@zj2050 Hi!
Are you using the latest version ?
In the old version , it does not work well depending on the order in which you want to customize. #26

Please as follows To set the title of the Drawer title.
[code]

[2015-12-08 17:30] panyamred opened #29 "Open/Close issue with storyborad configuration"
if let drawerController = navigationController?.parentViewController as? KYDrawerController {
            drawerController.setDrawerState(.Closed, animated: true)
or
drawerController.setDrawerState(.Opened, animated: true)
        }

navigationController is nil here. So, drawer is not closing / opening.

pan gesture is working perfectly.

main view controller is tabbarcontroller

[2015-12-29 15:24] filipecmsf opened #30 "How to change the main ViewController ?"
Hi !

I don't know if this is possible, but I have a tableview on the drawer and after select some cell, I want to change the view controller. Is it possible?

Like change the controller that is initially set on the *KYEmbedMainControllerSegue*.

thanks a lot,

Filipe Faria

[2015-12-30 01:02] ykyouhei commented on #30
@filipecmsf Hi!
It can be done as shown in the following code.

https://github.com/ykyouhei/KYDrawerController/blob/master/Example/Storyboard/Storyboard/DrawerTableViewController.swift

[code]

[2015-12-30 01:07] ykyouhei commented on #29
@panyamred Thanks! Can you put a capture of the storyboard ?

[2015-12-30 01:07] #28 closed

[2015-12-30 03:47] zgosalvez opened #31 "Animation Stutter"
I'm using the storyboard approach. It works as expected, however the first time that you open the drawer either by swiping / programatically, the animation stutters a bit. Succeeding actions have little to no stutter. I'm on iPhone 6+ and I'm concerned that this would be an issue on older devices.

[2015-12-30 08:56] panyamred commented on #29
I found the issue and solution. It is working now.

[2015-12-30 08:56] #29 closed

[2015-12-30 10:11] filipecmsf commented on #30
Thank you @ykyouhei !
it worked perfectly

[2015-12-30 10:11] #30 closed

[2016-01-01 18:58] kalyansriram opened #32 "Drawer is not opening when coming from notification"
I have integrated notifications in my ios app and on click of the notification i should go to the detail screen from list screen. The first list screen contains menu with KYDrawerController and the second screen is pushed into the main viewcontroller's stack. And everything works fine when i click the menu button its opening the menu button and when i click on some item in list its going to the de

[2016-02-01 17:28] lyc2345 opened #34 "Does not perform prefersStatusBarHidden when setNeedsStatusBarAppearanceUpdate"
Hello guys.
This Drawer is so good to use it. I like this style than others.
But I have a issue, I want to hide status bar when drawer is opened.
I override prefersStatusBarHidden but this is never called. even on viewDidLoad.

Could anybody help me to figure this out, Please?
Any help would be thankful.

[2016-02-02 11:44] AustinChou commented on #34
@lyc2345 I think you should override prefersStatusBarHidden in the subclass of KYDrawerController since it just add the drawer and main view controller's view into KYDrawerController's view. And change that value when drawer opened and closed.

[2016-02-13 19:47] cloudjanak opened #35 "How to open menu from sidemenu click swift"

[2016-02-27 19:02] abdulKarim002 opened #36 "How to update the main view with drawer menu"
Hello Sir,
It's really a nice lib and easy to integrate slide menu, but here I am not able to update the main view from drawer view the view is always updated on drawer controller only.

For example, I have four views as follows:-
1- main
2- drawer
   2.1 - in the drawer, there is two button menu ie signup and login
from the main menu I am able to access the drawer menu but when I used to click th

[2016-03-07 17:06] kevinbeauchamps7575 opened #38 "Having a left and right drawerController in the same time"
Hello,

Great library ! I was able to put the right drawer and the left drawer but I am not able to put the right and the left in the same time...
Do you think you could have an idea of how to do this ?

Thank you a lot !

[2016-03-12 08:19] happiehappie opened #39 "Drawer in tab bar"
How do I implement a drawer in my tab bar, right now my implementation renders my tab bar above the drawer, is it even possible to use this framework in a tab bar in the first place?

[2016-03-13 13:07] ykyouhei commented on #39
Does this become the answer ?
[DrawerSample.zip](https://github.com/ykyouhei/KYDrawerController/files/170974/DrawerSample.zip)

[2016-03-13 13:09] ykyouhei commented on #38
@kevinbeauchamps7575 Hi! The following issue is going to be a reference?
#24

[2016-03-13 13:54] ykyouhei commented on #36
@abdulKarim002 Hi!
The following implementation or would be helpful?
[DrawerSample.zip](https://github.com/ykyouhei/KYDrawerController/files/171014/DrawerSample.zip)

[2016-03-15 18:00] happiehappie commented on #39
Sorry I only see a tab bar with Favourites and More

On Sun, 13 Mar 2016 at 21:07 kyo__hei <notifications@github.com> wrote:

[2016-03-15 18:10] happiehappie commented on #39
<img width="432" alt="screen shot 2016-03-16 at 2 09 34 am" src="https://cloud.githubusercontent.com/assets/6497131/13788787/28f72e5e-eb1c-11e5-8161-776049ffa706.png">
Basically this is my current problem, my tab bar is "on top" of the drawer

[2016-03-16 09:51] kevinbeauchamps7575 commented on #38
Hello,

I'm sorry but I don't know what you mean by "is going to be a reference".
I would like to have the drawerController in the right and left available
at the same time ( not open at the same time ) for a personal project.

I hope you could help me to do that.

Best regards,
Kevin Beauchamps.

2016-03-13 14:10 GMT+01:00 kyo__hei <notifications@github.com>:

[2016-03-28 14:39] dtilve opened #40 "How to change first backround view"
Hi! I need to change the first view when the drawer loads (and the user still hasn't selected any tab or even open the drawer menu). It depends on the view the menu loads, i.e.: if I load login, then the profile should appear and the drawer should be available. How can I do it so it shows the profile and not a white screen? Thank you very much and excelent job with this framework.

[2016-03-31 19:13] htarwara6245 opened #41 "Support Example For using with UITabBarController?"
First of all,Thanks for all of your hard work.Really love it to try.
Your gif image show that your view controller is also supported for embedding with UITabBarController.

But,I really need some help with demo project.So,Any Help with UITabBarController?Because i want to build App like Google+ current version for now.Plus,I want to navigate directly from left menu to uitabbar item.
Eg.,If I tappe

[2016-03-31 19:27] htarwara6245 commented on #21
Can you provide example like the above image in swift?Also,how to disable Drawer Gesture on some view?

[2016-04-03 13:18] #19 closed

[2016-05-10 17:25] Ravichandrane opened #46 "Drawer width autolayout"
Hi kyo,

Thanks for your library, I'm wondering how can I use autolayout to update the drawer width ?

Thanks,
Ravi.

[2016-05-10 23:51] #46 closed

[2016-05-16 11:42] mirzadelic opened #47 "Height of drawer is not full"
I am getting this, but height is not full:
![simulator screen shot may 16 2016 13 38 42](https://cloud.githubusercontent.com/assets/1878794/15288512/c4308c2e-1b6b-11e6-8f74-38847d59d71c.png)

This is my setup:
![screen shot 2016-05-16 at 13 41 06](https://cloud.githubusercontent.com/assets/1878794/15288527/e0bc2862-1b6b-11e6-92d9-5c9e5b023099.png)

On initial VC:
Class: KYDrawerController
Module:

[2016-05-21 13:58] ykyouhei commented on #47
@mirzadelic Hi! Please try this sample to the reference
[Sample.zip](https://github.com/ykyouhei/KYDrawerController/files/275880/Sample.zip)

[2016-05-21 13:59] ykyouhei commented on #41
@htarwara6245 Hi! Please try this sample to the reference!
[Sample.zip](https://github.com/ykyouhei/KYDrawerController/files/275881/Sample.zip)
(Xcode7.3.1)

[2016-05-21 14:38] ykyouhei commented on #40
@dtilve Hi! Please try this sample to the reference
[Sample 2.zip](https://github.com/ykyouhei/KYDrawerController/files/275901/Sample.2.zip)

[2016-05-21 14:40] ykyouhei commented on #39
Please try this sample to the reference
[Sample.zip](https://github.com/ykyouhei/KYDrawerController/files/275902/Sample.zip)

[2016-05-25 03:30] #41 closed

[2016-06-07 06:27] mutaib opened #48 "Incomplete Example"
Hi. Why the example is separated into two sub-folders?
I'm a newbie to iOS and it's difficult to me to add this to my project...
Is there any complete tutorial?
Thanks.

[2016-06-27 03:53] htarwara6245 commented on #48
The example on storyboard didn't show how to navigate from left menu to others view controller.It only change color of view controller and its in Obj-C which we swift developer didn't understand clearly.

So,Can you provide Example completely in swift?I understand how you join the library via storyboard.But,for navigation from left menu to others view controller,its still not clear and can't figur

[2016-06-30 01:51] mhtranbn commented on #46
Please explan this to other people can autolayout. thanks @Ravichandrane

[2016-06-30 16:31] mhtranbn opened #54 "auto layout with drawerWidth"
Please support auto layout with drawerWidth for show on many device size.

[2016-07-01 15:54] DesmondPang opened #55 "Hide tabbar on push is not working."
Hide tabbar on push is not working.
TabbarController -> KYDrawerController - > MyUITableViewController -> push to detail view

I want to hide the UITabBar on the detail View. It does work.

[2016-07-01 17:44] Ravichandrane commented on #46
Hi @mhtranbn,

Yeah sure, I just used **UIScreen.mainScreen().scale**  to determine which iPhone.

Exemple :
let scale = UIScreen.mainScreen().scale
[code]
**case 2** meaning: iPhone5(s/c/SE), iPhone 6(S)
**default** for other devices : iPhone 6+(S)

[2016-07-02 06:46] mhtranbn commented on #46
It not autolayout, but its ok. :D , thanks @Ravichandrane

[2016-07-13 11:52] girubhai opened #56 "Provide same code example"
HI,Thanks for your library.
How to use add drawer via code only,because in readme file,there is explanation only for storyboard and also "code" example is totally different.So can you please explain  use of drawer menu via code as explained for "storyboard".

[2016-07-13 14:15] #56 closed

[2016-07-17 08:38] sonysum opened #57 "Unknown class KYDrawerController in Interface Builder file."
I try to use via pod install
when run it have error "Unknown class KYDrawerController in Interface Builder file."
why it like that?

[2016-07-17 10:29] ykyouhei commented on #57
@sonysum Hi!
Do you set the module column?
![2016-07-17 19 28 26](https://cloud.githubusercontent.com/assets/5757351/16900085/c74c4f96-4c54-11e6-862d-6971fb0d3778.png)

[2016-07-17 15:10] sonysum commented on #57
i did not set  module column
should i set it or not?

[2016-07-20 12:36] ykyouhei commented on #57
You should 👍

[2016-07-23 01:26] thomastao0215 opened #58 "I can not update my pod version to 1.1.5"
pod --version
1.1.0.beta.1

Unable to satisfy the following requirements:

- `KYDrawerController (~> 1.1.5)` required by `Podfile`

[2016-07-26 03:56] sonysum commented on #57
Ok it work Now Thanks

[2016-07-26 08:13] #57 closed

[2016-07-27 16:39] alvinmeimoun opened #59 "Drawer width smaller in status bar"
HI,

I followed the Interface Builder instruction, but i got this strange render and i didn't found anything to solve this

<img width="245" alt="capture d ecran 2016-07-27 a 18 33 23" src="https://cloud.githubusercontent.com/assets/3252195/17183680/e895a1b2-5428-11e6-962d-ecd98c2ad58b.png">

The KYDrawerController is the first controller after a modal segue (i can't place it at entry point becaus

[2016-08-10 19:54] ColdLogical opened #61 "On first display, drawer controller animates vertically"
On first run of

    drawerController.setDrawerState(KYDrawerController.DrawerState.Opened, animated: true)

to open the drawer, the drawer view controller has a slight vertical animation. Presumably, this is from a CGRectZero frame or something similar. Calls to `drawerController.drawerViewController?.loadView()` or `drawerController.drawerViewController?.view.layoutIfNeeded()` before display hav

[2016-08-11 13:10] iAviatorJose opened #62 "Cant add Custom View as shown in the Sample Image in Readme.md"
Without any subviews the drawer controller works fine.
But when i added an imageview at the top center Horizontally.
Running the app on the simulator gives a blank Drawer Screen.

Any Idea why this may be Happening.

[2016-08-20 05:46] ykyouhei commented on #62
@iAviatorJose Hi!
Please take a screen shot 📷

[2016-08-23 09:56] kohdesmond commented on #61
i got the same issues. But i guess i managed to solve it by setting Top Bar = Opaque Navigation Bar

[2016-08-24 15:30] ColdLogical commented on #61
@kohdesmond what do you mean set top bar? On which controller?

[2016-09-14 08:52] sovannarithsok opened #68 "Getting many error on Xcode 8, Swift 3"
How to use 'KYDrawerController' for supporting swift 3?

[2016-09-14 09:00] sovannarithsok commented on #68
Oh, it works when I use this:

            pod 'KYDrawerController', :git => "https://github.com/ykyouhei/KYDrawerController", :branch => "master"

[2016-09-18 06:24] ykyouhei commented on #68
@sovannarithsok  Hi!
push the latest version (2.0.0) to cocoapods.

[2016-09-18 06:24] #68 closed

[2016-09-18 06:24] #58 closed

[2016-09-20 08:06] pranav18 opened #69 "Support for iOS 10"
I have upgraded my system and Xcode to 8.
When I am building app in iOS 10 with swift 3. KYDrawerController giving issue.

Can you please provide me support for swift 3.

[2016-09-20 14:11] ykyouhei commented on #69
@pranav18 Hi. Supported iOS10 and Swift3 in  v2.0.1
https://github.com/ykyouhei/KYDrawerController/releases/tag/2.0.1

[2016-09-20 14:11] #69 closed

[2016-09-24 07:21] cesarmtz93 opened #70 "Error in Code"
Hi I´ve set up the project of a uitabcontroller and the drawer as the issue #41, but i have a view controller with a button action performing the next code

        let drawer = self.navigationController!.parent?.parent as! KYDrawerController
        drawer.setDrawerState(.opened, animated: true)

im getting this error "Could not cast value of type 'KYDrawerController.KYDrawerController' (0x1012c3

[2016-09-24 12:43] ykyouhei commented on #70
As indicated by the error statement, `self.navigationController!.parent?.parent` is not a `KYDrawerController` type.
Please understand viewcontroller hierarchy.
https://developer.apple.com/library/content/featuredarticles/ViewControllerPGforiPhoneOS/TheViewControllerHierarchy.html#//apple_ref/doc/uid/TP40007457-CH33-SW1

[2016-09-24 12:43] #70 closed

[2016-09-24 12:43] #62 closed

[2016-09-24 16:59] cesarmtz93 commented on #70
I don't think it's about the hierarchy, because i had it this way since swift 2.2 and now that it was updated and you said in the ticket #57, that we need to set module column, now it breaks

because if I print this line self.navigationController!.parent?.parent i get Optional(<KYDrawerController.KYDrawerController: 0x7fc0add0b270>)

so it's module.class and the error Could not cast value of type

[2016-09-24 23:38] ykyouhei commented on #70
It will work without problems in this sample code.
Please check the implementation or configuration！
[Sample.zip](https://github.com/ykyouhei/KYDrawerController/files/491419/Sample.zip)

[2016-09-25 00:11] cesarmtz93 commented on #70
Hi, Thanks for the Sample, but i see we have a misunderstanding,

I modified your sample to what I´m trying to achieve, just so that you can notice the error that i´m getting!

I do appreciate all the help that you´re giving me!

[Sample.zip](https://github.com/ykyouhei/KYDrawerController/files/491431/Sample.zip)

[2016-09-25 00:20] ykyouhei commented on #70
viewController hierarchy is wrong!!
[code]

Here is not the place to ask questions. It is the place to report the issue!!
First of all, please check the cause of the problem on their own.

https://medium.com/@methane/why-you-must-not-ask-questions-on-github-issues-51d741d83fde

[2016-09-27 14:28] sonysum opened #71 "support swift3?"

[2016-09-27 22:07] #71 closed

[2016-09-27 22:10] ykyouhei commented on #71
It is written in the README

[2016-09-29 15:47] eikebartels commented on #55
same for me

[2016-09-30 02:25] abdymalikmulky opened #72 "Unknown class KYDrawerController in Interface Builder file."
i use V.1.1.0

[2016-10-01 13:57] KhaledAld opened #73 "error on drawerDirection"
the drawer is not apper when set

[2016-10-01 13:59] #73 closed

[2016-10-01 16:23] ykyouhei commented on #72
Please set the `KYDrawoerController` to the module

[2016-10-01 16:23] #72 closed

[2016-10-01 16:30] ykyouhei commented on #73
It seems that your implementation is wrong.
It is operating without problems in the sample code

[2016-10-01 16:44] ykyouhei commented on #55
Perhaps `Hide tabbar on push` does not work only in the navigation controller to manage the tab bar controller.

[2016-10-01 16:46] ykyouhei commented on #55
If you wish to achieve it, you need to configuration as shown in FIG.
<img width="1240" alt="2016-10-02 1 39 23" src="https://cloud.githubusercontent.com/assets/5757351/19015555/c879689e-8841-11e6-9b7a-0c2f298a679b.png">

[2016-10-01 17:06] ykyouhei commented on #59
It was unable to reproduce the problem.

<img width="673" alt="2016-10-02 1 58 01" src="https://cloud.githubusercontent.com/assets/5757351/19015703/47be780e-8844-11e6-8fc5-cb9b22a130b0.png">

![test](https://cloud.githubusercontent.com/assets/5757351/19015727/d2e92dfc-8844-11e6-9715-511c946aeb09.gif)

[2016-10-04 13:40] sonysum opened #74 "error in Xcode 8 swift 3"
i got an error
Module compiled with Swift 2.3 cannot be imported in Swift 3.0
how to fix?

[2016-10-06 03:00] EvianZhow opened #75 "Change in drawerDirection will not cause drawerViewController's position to change"
![out](https://cloud.githubusercontent.com/assets/4608342/19138883/907bd796-8bb2-11e6-8ff2-60155ecbb4b2.gif)

Hi ykyouhei, I'm the author of KYDrawerController-ObjC. Someone send me a mail about this issue and I take sometime to investigate about this. See the above GIF for detailed information.

This implementation is like this:

[code]

This issue is cause by the update constraint process which

[2016-10-10 07:12] kohdesmond commented on #61
@ColdLogical on the storyboard
![screen shot 2016-10-10 at 15 12 28](https://cloud.githubusercontent.com/assets/1192544/19228904/ff18977e-8efb-11e6-8b20-b9bc0a244143.png)

[2016-10-12 15:36] danielsaidi commented on #35
The example project shows you how to use the `navigationController` parent, cast it to `KYDrawerController` and call `setDrawerState(...)`.

However, if you don't have a navigation controller, you can use the following in your main view controller:

[code]

You can then use the drawerController property to set its' state to open.

[2016-10-12 18:57] ColdLogical commented on #74
The source code will have to be updated to 3.0.

[2016-10-27 15:46] coharness opened #77 "No way to navigate"
I'm using a tableveiw for the drawer and want to send the user to a different view controller when they select a cell. How/where do I add code for this? I'm trying to do it in the didSelectRowAtIndexPath for the drawer class, but nothing works.

[2016-10-28 05:05] ykyouhei commented on #77
use delegate pattern.

[2016-10-28 05:05] #77 closed

[2016-11-07 11:23] psi-gh commented on #61
@kohdesmond Do you mean 'simulated metrics'? How can it affect for the running app?

[2016-11-10 10:58] srijan12345 opened #78 "Unable to push view controller from Drawer table view after clicking on any cell"
I am using KYDrawerController in swift. As DrawerViewController, I am using a TableViewController. I am unable to push another view controller from clicking any cell from drawer tableview.Can anyone help me asap. I tried everycode in DrawerViewController (this is my tableviewcontroller)
self.navigationController?.pushViewController(pv, animated: true)
drawerController.mainViewController.navigation

[2016-11-29 06:33] kohdesmond commented on #61
@psi-gh  not quite sure but the simulated metrics affected my auto layout.
but it seems to only affect iOS 10 and it might be a "feature" with xcode 8

[2016-12-15 17:09] psi-gh commented on #74
Will it be updated?

[2016-12-22 22:14] Salmancs43 opened #79 "Main Storyboard segue is nil"
I am trying to use KYDrawerController but the main and drawer segue is nil. I tried it a lot but i never found the solution. I am a attaching my storyboard picture. Please help me with this issue. Thanks
<img width="748" alt="screen shot 2016-12-23 at 3 13 18 am" src="https://cloud.githubusercontent.com/assets/23050315/21442153/d858b208-c8bd-11e6-8766-6acd253c6c4d.png">
<img width="807" alt="scree

[2016-12-24 23:39] mhtranbn commented on #79
me too! please supporst thank you

[2016-12-30 00:01] piotrros opened #80 "Button exceeding menu"
Hi,
how can I add a button, which covers area outside menu view?
Here's how it looks:

![screenshot](https://cloud.githubusercontent.com/assets/8133606/21557343/33378402-ce2b-11e6-8fea-846cea171c0d.png)

Here's how I want it to look like:

![howitshouldlook](https://cloud.githubusercontent.com/assets/8133606/21557348/3beb15f0-ce2b-11e6-8a0d-fb7423e9d908.png)

It's just an UIButton with image and n

[2016-12-30 13:58] piotrros commented on #80
I got it!: http://stackoverflow.com/a/41396947/1264375

[2016-12-30 13:58] #80 closed

[2017-01-03 04:28] ultrabuckner commented on #79
do u have any project sample. I still fail to apply this library.

[2017-01-03 06:53] ykyouhei commented on #79
@mhtranbn
Please try setting `KYDrawerController` in the module.
<img width="748" alt="d858b208-c8bd-11e6-8766-6acd253c6c4d" src="https://cloud.githubusercontent.com/assets/5757351/21601347/cc88ca2c-d1cc-11e6-93e7-5978ff6fae67.png">

[2017-01-04 10:48] Salmancs43 commented on #79
Thanks. One more thing can this library blur the back view controller?

[2017-01-07 14:05] ykyouhei commented on #79
Make the background of the drawerViewController transparent and add UIVisualEffectView.

[2017-01-19 12:35] mengheangrat opened #81 "First open with right direction menu move from right?"

[2017-01-19 12:55] xpiero opened #82 "Weird margins when using async task"
I'm having problem with margins when I instantiate a view controller inside an async task.

When I do this, the view loads weird:
`let priority = DISPATCH_QUEUE_PRIORITY_DEFAULT
            dispatch_async(dispatch_get_global_queue(priority, 0)) {
                //Web Service call
                dispatch_async(dispatch_get_main_queue()) {
                    let viewController = UIStoryboard(name

[2017-01-30 09:51] iAviatorJose opened #83 "Change Direction of Drawer,when app in RTL Arabic mode."
When the System Language is English (Default/Base for my APP), the drawer enters screen from left.
I want to change it to enter the screen from Right when in RTL Arabic mode.

[2017-01-30 10:41] iAviatorJose commented on #83
Well, I found the solution for my problem. I used the below Code

[code]

[2017-01-30 10:42] #83 closed

[2017-02-03 13:58] srijan12345 commented on #82
More specification needed bro regarding this query. I don't think thread matters here. Might be the way you setting tabs resolve issue.

[2017-02-04 06:01] delochi opened #84 "How to replace page ?"
I wanna to replace page when i click list menu in drawer menu. I am is new bee, help please
thanks

[2017-02-21 11:36] RubenEsposito commented on #74
Is anybody working on a Swift 3.0 version?

[2017-02-22 08:17] varunmehta77 opened #85 "Calling viewWillAppear of maincontroller on drawer opening and closiong"

[2017-02-28 11:20] colincameron opened #86 "Swipe to delete in drawer table view is impossible."
The pan to close gesture recogniser overrides the ability to swipe left to delete items in a table view within the drawer.

There should be an option to disable the pan to close gesture, as implemented in pull request #76.

[2017-02-28 11:25] colincameron commented on #84
You can set the `mainViewController` property to your new view controller.

[2017-02-28 12:49] colincameron commented on #86
New PR #87 submitted which allows panning to close within the drawer to be disabled.

[2017-03-11 17:04] axlalvaro opened #88 "Swipe to open not working when main controller is UINavigationController"
Hi, so my main controller is a UINavigationController, but when I swipe from the edge of the screen, the drawer does not show up.

Any help on solving this?

Thanks!

[2017-03-11 17:17] axlalvaro commented on #88
I figured out that it works if I disable the pop gesture recognizer of the navigation controller:
`self.navigationController?.interactivePopGestureRecognizer?.isEnabled = false`

[2017-03-12 09:07] ykyouhei commented on #88
@axlalvaro
Because the gesture conflicts, the above mentioned countermeasure is correct

[2017-03-12 09:07] #88 closed

[2017-03-30 06:05] MuqThe2nd commented on #84
The frame changes. I have a tabBarController in which each viewController is embedded in a navigationController. Please help.

[2017-03-31 09:38] sgandro commented on #78
I've same problem

[2017-04-03 08:31] srijan12345 commented on #78
Who will resolve this issue :(

[2017-04-05 03:46] ruanqiaohua opened #89 "Follow"
How to make mainViewcontroller follow drawerViewcontroller moving. thank's very much.

[2017-04-13 06:32] AmitBluepi commented on #74
I worked on swift 3.0 and my Page view controller is not initial controller.
Not the issue is pagination style is always in curl not scroll. I want to use this as scroll transition.
Plz help in this.

[2017-04-16 21:08] htarwara6245 opened #90 "Menu View is not loading correctly only at the First Time."
1.  Run the example project (storyboard)
2. Look at Menu when it appear
3. You will see red and blue cell are not appearing correctly only at the first time.

Mean the menu view is up a little bit before it appear and then it goes normal.

Was this a normal behavior?

[2017-04-20 14:21] a1pro opened #91 "how to disable drawer in detail page?"

[2017-04-20 14:36] a1pro commented on #90
You can solve this problem by hiding the status bar of side menu table class. Working fine on my app.

[2017-04-27 11:54] kcosta12 opened #92 "Start app from another view and then go to the drawercontroller"
How to make app start from another view and then click some button and start the drawercontroller.
And after started drawercontroller create a tab bar controller, NOT a navigation controller,  to control the differents views of app

[2017-04-29 15:48] sima94 opened #93 "You are able to open drawer from push viewControler"
[Drawer.zip](https://github.com/ykyouhei/KYDrawerController/files/966232/Drawer.zip)

[2017-04-30 10:26] #93 closed

[2017-05-03 21:53] aaronjrenfroe commented on #78
I'm having the same issue. I can do a default viewcontroller.show(bla bla ) but If the Segue contains an animation it throws an EXC_BAD_ACCESS error. I'm just trying to have the presented view present from the left "out of the drawer" instead of up from the bottom. I really wish apple had transition animations built in

[2017-05-05 13:00] BhavinBhadani commented on #39
@ykyouhei yes but then it doesn't give simplest code to open drawer with above simple hierarchy of button click means we first need to find Drawercontroller then only we can active state to open

[2017-05-25 10:57] BhavinBhadani commented on #7
what if there is tabbar?

[2017-06-07 09:40] amarcadet opened #95 "'KYEmbedMainControllerSegue' is not a member type of 'KYDrawerController'"
I'm using R.swift and I have an issue with `KYDrawerController` module naming.

R.swift generate the following code:
[code]

The thing is `KYDrawerController` is both the module name and the controller class name.
At compile time Xcode throw the following error:

[code]

Looks like R.swift use the module name defined in IB and prepend it to the segue class.
The only workaround I can think of is su

[2017-06-15 13:54] schmidan opened #96 "UIPageViewController inside KYDrawerController"
Has anyone gotten this to work?

The UIPageViewController with ```UIPageViewControllerTransitionStyle.scroll``` and ```UIPageViewControllerNavigationOrientation.horizontal``` "steals" away the ScreenEdgePanGesture.

Does anyone know how to prevent this?
much obliged

[2017-06-19 10:53] pranitk opened #97 "ViewController appearing weird when opened from drawer"
When I open a view controller from drawer the menu items on the navigation bar appear cropped(half of it goes outside screen) and the main view of viewcontroller's top part is missing. If I open and close the drawer at this state then the view is refreshed back to normal state. This is happening after I updated my code & KyDrawerController to swift 3.
please help..

[2017-06-30 07:48] PrakashMaharjan opened #98 "Push or set other views from left menu view (probably table row selection)"
Hi,
Is there way to push to other view or set from view controller?
The example only shows change of background color, which does not assist of moving to other views.
How can we push to other views? I can't see it in documentation as well.
The help would be very much appreciable.
Thanks

[2017-07-01 16:37] PrakashMaharjan commented on #98
I found solution to push view as following..

let storyboard: UIStoryboard = UIStoryboard(name: "Main", bundle: nil)
let newVC: NewViewController = storyboard.instantiateViewController(withIdentifier: "newVc") as! NewViewController   // view to set
let drawerController = self.navigationController?.parent as? KYDrawerController
let navController = UINavigationController.init(rootViewController: new

[2017-07-02 22:23] pranitk commented on #82
It must be the navigation controller that's causing the problem. I have a similar issue, whenever I open a navigation controller from the drawer I get weird margins.
Did you find a solution ?

[2017-07-03 10:01] schmidan commented on #96
if anyone is interested.
the magic is in ``` gestureRecognizer(_ gestureRecognizer: UIGestureRecognizer, shouldBeRequiredToFailBy otherGestureRecognizer: UIGestureRecognizer)```

i solved it by using my own subclass of KYDrawerController (could also be an extension but i need the subclass for other reasons as well)

[code]

[2017-07-19 21:14] pranitk commented on #98
Whenever I open a UINavigationController from the DrawerController I get weird margins and the viewcontroller's view appears to be zoomed.

[2017-07-20 03:51] g-enius opened #99 "Won't work if set "drawerViewControlller" first by Code."
I am sure that if set "drawerViewControlller" before "mainViewController", it will not work. Just try in the "Code" Example by simply reordering setting sequence of "drawerViewControlller" and "mainViewController" in AppDelegate.

It confused me a lot and took me a lot time to debug that. I am still not sure whether it's because "addChildController" sequence/order.

I would be grateful if someone

[2017-07-26 12:48] franme92 commented on #91
Same problem, some help ?

[2017-07-27 13:06] tpoche commented on #99
I have verified this behavior in my project as well.

[2017-08-04 12:07] LukaszTrojanowski opened #100 "Storyboard swift example."
Could you please add a swift example for the Storyboard solution?

[2017-08-10 10:40] #81 closed

[2017-08-21 17:41] urvishpatel-shreeji commented on #90
Same issue comes

[2017-09-15 09:11] kohdesmond commented on #97
@pranitk did u managed to fix the issues?

[2017-09-15 14:24] pranitk commented on #97
It was related to the navigation controller but couldn't fix it. So I removed it from the app.

[2017-09-16 01:29] kohdesmond commented on #97
@pranitk i see! so what libraries are you using now?

[2017-09-16 01:31] pranitk commented on #97
Right now I am not working on the app. I dropped the idea of drawer in the app I was working on and switched to bottom tabs in iOS to avoid landing in trouble again in future.

[2017-10-02 02:03] meanreaksmey opened #105 "Not Support Xcode9"

[2017-10-03 02:01] burkaslarry commented on #105
what is the description ?

[2017-10-04 15:48] meanreaksmey commented on #105
@burkaslarry how to Refresh Homescreen when add other UIViewcontroller

[2017-10-10 11:11] gamalalayek opened #106 "swift4"
update project to swift 4

[2017-10-23 13:44] Aragunz commented on #106
I would love this project on swift 4, thank you @ykyouhei if you do this :)

[2017-10-23 14:13] gamalalayek commented on #106
i did it actually

[2017-10-24 10:49] shahidmohd31 commented on #21
@htarwara6245  how are you?
hope you have implemented the desired thing,am to stuck here,could you plz help?

[2017-11-06 03:42] maxivu opened #107 "Unable to compile in Swift4 and XCode 9.0 (9A1004)"
Getting following error after POD install and clean build

<project root>/Pods/KYDrawerController/KYDrawerController/Classes/KYDrawerController.swift:106:21: Argument of '#selector' refers to instance method 'didtapContainerView' that is not exposed to Objective-C

<project root>/Pods/KYDrawerController/KYDrawerController/Classes/KYDrawerController.swift:84:21: Argument of '#selector' refers to in

[2017-11-06 03:59] burkaslarry commented on #107
add   @objc func before 'handlePanGesture' or rewrite the selector . It is the stack-overflow type question

[2017-11-06 04:00] burkaslarry commented on #107
Yet creating your own slider view is easy . I create one view controller with storyboard  as slider menu and one more custom delegate. I doubt why such GitHub module requires much more settings and complexity

[2017-11-27 13:00] zhouyong19901104 opened #108 "侧边栏怎么跳转，纯Controller"
侧边栏怎么跳转，纯Controller

[2017-11-28 05:16] letsspeak commented on #95
I forked and fix this issue by renaming classes.
You can use my repo and branch.
https://github.com/letsspeak/KYDrawerController/tree/swift4-rswift
[code]

[2017-12-06 10:14] aiswaryamanal opened #109 "Is it possible to use two drawers, left and right?"
This KYDrawercontroller to use on 2 sides with 2 different view controllers. How can i solve the problem

[2017-12-28 00:40] segunlee commented on #90
I got same issue, @a1pro could you tell me how to fix it?
I try below code, but not working
override var prefersStatusBarHidden: Bool { return true }

[2018-01-04 16:57] Gypsyer commented on #91
How can i disable drawer left slide some view ? , please help

[2018-01-04 17:15] Gypsyer commented on #91
I don’t speak English that well.
Hey me resolved this issue , Comment code  viewDidLoad() method in KYDrawerController.swift
// view.addGestureRecognizer(screenEdgePanGesture)
but if you comment this code swipe drawer are disable all view but this not problem for me because some code help me ... "drawerController.setDrawerState(.opened, animated: true)"
worked for me : )

[2018-01-10 14:21] Fogrunner commented on #61
+1

I have encountered the same issue.

Does anyone know how to fix it?

[2018-01-19 05:57] priwiljay commented on #30
For new KYDrawerController version
[code]

[2018-02-28 08:44] akshayshikre opened #110 "Can we implement left and right drawer?"

[2018-03-05 12:56] emildesign opened #111 "Can drawer direction be changed on the fly?"
I want to change the drawer direction on the fly when the user changes language in the app and all the layout direction is changed as well?

Can the drawer direction be changed on the fly?

[2018-03-09 09:25] arunksmb opened #113 "move main view while drawer comes in"
Is there any way to move the main view along with the drawer while drawer comes in & goes out?

[2018-03-09 10:46] #113 closed

[2018-03-11 13:50] #106 closed

[2018-03-27 17:16] prayasht commented on #98
Took me a while to figure it out, but this is what works for me. Assuming your setup in `AppDelegate` is following the README, In the MenuTableView's `didSelectItemAt` delegate method I put:

[code]

[2018-04-18 02:46] snc001 opened #114 "On item select to leave the drawer open"
Hi guys,

I was wondering if there was a way to change or update the view dynamically depending on what has been selected?

![modify this](https://user-images.githubusercontent.com/12015902/38942163-3d342154-4382-11e8-8902-2206d7143347.png)

Eg. First row of the side draw is selected and the view below the profile area fully changes

[2018-04-18 04:04] Jax1993 commented on #99
I have verified this behavior in my project as well.

[2018-05-02 11:35] shaniceweiwei commented on #22
how can i set it to the right side with Storyboard? @haducloc

[2018-05-08 15:24] kurotsukikaitou opened #116 "Missing init(nibName:bundle:) on XCode 9.2"
I'm upgrading an old project from Swift 2.3 to 4 using XCode 9.2. I've use latest version of KYDrawerController. When I let the pod built normally (treating KYDrawerController as Swift 4), I got errors saying missing properties and methods when accessing from Objective-C codes (due to lack of `@objc` keyword). So I have to treat KYDrawerController as Swift 3.2 using this commands (and run `pod ins

[2018-05-09 12:59] xergic commented on #82
Too late, but still... Try calling _setDrawerState_ function after setting _mainViewController_.

[code]

This solved the issue for me in similar situation (not related to async at all).
Looks like it's related to constraints, I'll look into it later. Will submit a PR if I find something.

[2018-05-10 13:32] kurotsukikaitou commented on #116
Btw... It was running well when I add these line of codes on `KYDrawerController`:
[code]
But using pods, there no way I can use this approach since I have to add those lines again and again every time I ran `pod install`.

[2018-05-11 17:49] kurotsukikaitou commented on #116
Ok. After delving a bit on the initializer, it seems that previous developer didn't use a proper way to initialize KYDrawerController. I refactor the code to use given initializer and the problem gone. I'll close this issue.

[2018-05-11 17:49] #116 closed

[2018-05-17 23:27] snc001 opened #117 "initiate drawer to a different view"
Is there a way to initiate the draw to a different view?

Example
- you have a login view and a main view plus a drawer view

- initiate drawer after the login view is passed to the main view

Currently you have to initiate the drawer from AppDelegate which has to set drawer controller as rootview.

Though this only takes 2 controllers - whatever view you want the drawer on and the drawer controll

[2018-05-24 03:29] timusus commented on #61
Note, calling:
[code]
Can cause an imbalance of calls to `beginAppearanceTransition`/`endAppearanceTransition` which can cause your app to stop presenting view controllers correctly.

Customising the `KYDrawerController` to include a completion handler to 'resolve warnings' as suggested above helps to some degree (doesn't guarantee a balance of above mentioned calls).

The whole idea of opening an

[2018-05-24 03:30] timusus commented on #85
@varunmehta77 can you please describe this issue, or close it. An issue with nothing but a title is no help to maintainers.

[2018-05-24 03:34] timusus commented on #117
You don't _have_ to instantiate the `KYDrawerController` in `AppDelegate`, that is just an example of how this controller can be used. You can place the `KYDrawerController` anywhere you like, you just have to pass it a reference to whatever controller you want to use as the `MainController` and `DrawerViewController`.

@ykyouhei recommend closing this issue.

[2018-05-24 03:36] timusus commented on #114
This looks to me like a question about iOS development / layouts in general, and not specific to this library.

@ykyouhei recommend closing this issue.

[2018-05-24 03:37] timusus commented on #111
@emildesign have you tried this yourself? Would be interested to know the result.

[2018-05-24 03:37] timusus commented on #110
@akshayshikre please provide a description for your issue, including what you've tried. A title alone is not very helpful to maintainers.

Have you tried implementing a left and right drawer? What happened?

[2018-05-24 03:40] timusus commented on #107
@ykyouhei looks like this issue has bee resolved in #104

[2018-05-24 03:41] timusus commented on #105
@ykyouhei recommend closing this issue.

[2018-05-24 06:33] #105 closed

[2018-05-24 06:34] #117 closed

[2018-05-24 06:34] #110 closed

[2018-05-24 06:35] #107 closed

[2018-05-24 06:37] timusus commented on #89
@ruanqiaohua can you please clarify what it is you're looking for?

[2018-05-24 06:39] #114 closed

[2018-05-24 06:40] timusus commented on #108
@zhouyong19901104 can you please describe the issue in more detail?

[2018-05-24 06:41] timusus commented on #98
This is an iOS development question, rather than a KyDrawerController issue. Welcome the discussion, but closing as not relevant to the project.

[2018-05-24 06:41] #98 closed

[2018-05-24 06:43] #96 closed

[2018-05-24 06:43] timusus commented on #92
This is an iOS development question, not specifically related to `KYDrawerController`, thus closing.

[2018-05-24 06:43] #92 closed

[2018-05-24 06:45] timusus commented on #84
This is an iOS development question, not specifically related to `KyDrawerController`, thus closing.

[2018-05-24 06:45] #84 closed

[2018-05-24 06:48] timusus commented on #74
Closed thanks to #104 (and possibly others)

[2018-05-24 06:48] #74 closed

[2018-05-24 06:50] timusus commented on #78
@aaronjrenfroe @dsrijan @sgandro can someone fork this project and provide an example of the issue?

[2018-05-24 06:52] timusus commented on #75
Thanks for your thorough investigation @EvianZhow

@ykyouhei can you look into this / respond?

[2018-05-24 06:53] timusus commented on #82
Possibly related to #61

[2018-05-24 06:54] timusus commented on #90
Possibly related to #61

[2018-05-24 06:54] timusus commented on #59
@alvinmeimoun are you able to create a fork which demonstrates this issue? If so, we will reopen.

[2018-05-24 06:54] #59 closed

[2018-05-24 06:56] timusus commented on #55
This looks like an iOS development question rather than something that specifically relates to `KyDrawerController`, thus closing.

[2018-05-24 06:56] #55 closed

[2018-05-24 06:56] timusus commented on #54
@mhtranbn can you please elaborate? What changes are you looking for exactly?

[2018-05-24 06:58] #40 closed

[2018-05-24 06:59] #39 closed

[2018-05-24 07:00] timusus commented on #109
Duplicate of #38

[2018-05-24 07:00] #109 closed

[2018-05-24 07:01] timusus commented on #38
@ykyouhei is it currently possible to achieve this?

[2018-05-24 07:02] #36 closed

[2018-05-24 07:02] #35 closed

[2018-05-24 07:02] #34 closed

[2018-05-24 07:03] #20 closed

[2018-05-24 07:04] timusus commented on #32
@kalyansriram can you please fork the project and provide a sample of the issue? Impossible to know what's going on with such a specific problem. If you can, happy to reopen the issue.

[2018-05-24 07:04] #32 closed

[2018-05-24 07:05] timusus commented on #25
This is an iOS development question, not a `KyDrawerController` specific problem.

[2018-05-24 07:05] #25 closed

[2018-05-24 07:06] #79 closed

[2018-05-24 07:09] timusus commented on #95
I'm not sure if this is an issue with `KyDrawerController`, or `R.swift`..

In any case, fixing this would likely require a major version increment, as it would be an API breaking change.

@letsspeak is this something you think the library should address, or can this issue be closed?

[2018-05-25 05:51] #108 closed

[2018-05-26 12:02] pawarn opened #118 "How to open drawer on button click"
I am new to IOS App development.  I used this library in my project and setup from the storyboard.

Now I added on hamburger icon on the navigation bar and on click on Hamburger icon I want to open drawer just like an android.

How can I achieve this?

Thanks for the help in advanced.

[2018-05-27 01:12] timusus commented on #118
From the readme:

Open/close drawer:
`func setDrawerState(state: DrawerState, animated: Bool)`

You'll need to call that function when your hamburger icon is clicked. This is _probably_ demonstrated in the example.

[2018-05-27 01:12] #118 closed

[2018-05-30 09:56] pawarn commented on #118
Thanks,

I achieve this using following code.

if let drawerController = navigationController?.parent as? KYDrawerController {
            drawerController.setDrawerState(.opened, animated: true)
        }

[2018-06-07 10:01] vijaykharage commented on #78
Use NotificationCenter to pass index of selected row of cell in main viewController and then push the view using its navigation controller. This solved my problem.
![screen shot 2018-06-07 at 3 31 14 pm](https://user-images.githubusercontent.com/31646541/41093010-df33a130-6a67-11e8-95dd-9225f40ed80c.png)

[2018-06-17 17:05] ramdanix opened #119 "Cannot invoke initializer with no arguments"
Cannot invoke initializer for type KYDrawerController with no arguments. How can i solve this error?

[2018-07-19 18:06] DeevD opened #121 "need info"
main controller is never call . use storyboard in drawer and main .

[2018-07-20 14:04] DeevD commented on #89
How to present mainViewController to seconViewController ?

[2018-08-10 10:45] ripplek commented on #91
look this PR #122

[2018-08-20 18:37] shravanik18 opened #123 "How to disable gesture for side menu (drag) in sub view controllers of main navigation view controller"

[2018-08-22 11:40] pratikmi commented on #78
This issue occur due to following method so comment method.
override open var shouldAutomaticallyForwardAppearanceMethods: Bool {
    get {
        return false
    }
AND
No need to notification observe you can simply add following method in
public func tableView(_ tableView: UITableView, didSelectRowAt indexPath: IndexPath)
    {
 if let drawerController = parent as? KYDrawerController {

[2018-08-29 15:43] FStrout opened #124 "Buildtime Warning: Swift Compiler Warning"
I am getting the following warning:

[2018-10-03 07:08] PramodShukla10 opened #126 "can we go back when come from menu"

[2018-10-05 05:30] anuranBarman commented on #119
You can initialize it like this
[code]

[2018-10-12 16:05] jbarros35 opened #128 "How to not use the menu as rootviewcontroller"
You basically set the menu as rootviewcontroller on the code sample. I don't want to do that for private reasons, can I set the menu for not be the root?

[2018-10-13 13:25] subhash08 opened #129 "Top most view controller ?"
I'm using your DrawerController , thank you for awesome library.
My issue:

I'm using KYDrawerController with UITabbarController, I need to get Top Most controller of the application which is showing now but I'm not able to get correct one.

here is the code I'm using.

[code]

Please correct me if I'm using wrong approch.

[2018-10-23 03:33] shakesVan opened #130 "swift4.2"
How long to support the swift4.2 ?

[2018-10-31 07:36] ykyouhei commented on #130
@shakesVan
Sorry I'm late. I merged earlier!
#127

[2018-10-31 07:36] #130 closed

[2018-11-24 23:36] btraas commented on #130
Looks like the Swift Language version is manually set to 4.0...

[2018-11-28 06:32] bhavuk-webkul opened #131 "Getting black screen of main controller"
Getting black screen of main controller
http://prntscr.com/lnwph5

[2018-11-28 10:13] snc001 commented on #131
Is it because your drawer background is black and is taking all the screen real estate?

meaning if your drawer width that you're using is say... 300/414 but you've made your side drawer view on the storyboard to be 414 and the background is black then thats what it'll be.

[2018-11-29 06:20] bhavuk-webkul commented on #131
any update

[2018-12-28 12:12] SiuyuenChow opened #132 "How can i push other viewcontroller in drawcontroller?"
How can i push other viewcontroller in drawcontroller?

[2019-01-03 18:09] Yancerva commented on #132
Hi! SiuyuenChow, I wondering the same, and i find out how to set a Push other views using a protocol. like this:
1-  create the protocol:

protocol NavigationProtocol: class {
    func navigationProtocol(view: UIViewController)
}

2- Use Your MenuView to set the protocol instance
 -  in the menuSide viewController class -

 weak var navigationProtocol: NavigationProtocol?

3- set the protocol inst

[2019-01-15 04:34] snc001 commented on #131
limit 260 for your drawer and make the mainview normal size.
Else it won't know how to populate

[2019-01-15 04:39] snc001 opened #134 "Drawer won't reset to top"
Hi guys,

If I leave the drawer scrolled to the bottom then close it - once I'd tried reopening it it will try to "be smart" and reset to the top but! it creates a massive gap at the bottom instead.

Meaning it'll only show the bottom of the drawer with massive background colour of the drawer.

What should I be looking at to fix this; tried debugging but I must be looking in the wrong place.

Any

[2019-01-16 03:44] SiuyuenChow commented on #132
For now I've implemented it in the form of a notification

[2019-01-16 03:45] SiuyuenChow commented on #132
HI  @Yancerva:
For now I've implemented it in the form of a notification

[2019-01-16 15:23] Yancerva commented on #132
can you show how can I do that? using - NSNotification I guess?

[2019-01-21 09:52] neen-tech opened #135 "KYDrawerController configure with only one tab of UITabController"
KYDrawerController configure with only one tab of UITabController:
I want to configure KYDrawerController only on First tab of UITabBarController but i am getting issue with It With Navigation and View.

If any solution let me know on Nitin.tandon@hotmail.com

Thanks & Regards
Nitin Tandon

[2019-02-18 10:05] minghoe opened #137 "KYDrawerController's side menu no response when clicked from widget(today extension)"
The KYDrawerController's side menu no response when I clicked from widget(today extension). But it work when I click direct from the app icon.

[2019-02-19 14:16] Hashir524 opened #138 "Drawer View is not opening,When coming from another screen"
I will Explain my Problem alittle bit. So i am not initialising drawerview in Appdelegate. instead i am initialising the drawer view in my loginView Controller and Setting the rootViewController From there. Everything is Working fine. But when i go to the other ViewControllers and comeback to the drawer screen through a segue it won't work from here. I tried to reiniallize the drawerview and set t

[2019-02-19 14:17] Hashir524 commented on #138
Any Help Would be much Appreciated. :)

[2019-03-05 03:07] kuyazee commented on #123
Check #17

[2019-03-24 14:50] anonym24 opened #139 "It just makes my content black and top bar gray"
I tried code example https://github.com/ykyouhei/KYDrawerController/tree/master/Example/Code

And I see next picture on iOS 12.1

![Screenshot at Mar 24 16-49-25](https://user-images.githubusercontent.com/8851301/54881093-e9e79b00-4e54-11e9-9d3d-afdec29efb36.png)

[2019-03-24 14:53] anonym24 commented on #131
In my case I can't even open drawer and everything from ui view controller is gone (no items on toolbar, uiviewcontroller is black)

It just makes my content black and top bar gray

[2019-03-24 14:55] anonym24 commented on #139
I can open menu only programmatically because everything is gone within my controller view and top bar:

        if let drawerController = navigationController?.parent as? KYDrawerController {
            drawerController.setDrawerState(.opened, animated: true)
        }

![Screenshot at Mar 24 16-54-50](https://user-images.githubusercontent.com/8851301/54881149-a17cad00-4e55-11e9-9bc6-bf6c9c5642a

[2019-03-24 15:03] anonym24 commented on #131
it seems that we have to set initial VC as `KYDrawerController` and not `UIViewController`

[2019-03-24 15:12] anonym24 commented on #139
it seems that we have to set initial VC as KYDrawerController and not own UIViewController

But I still want to use Navigation Controller

[2019-03-24 15:21] anonym24 commented on #131
@snc001 what do you mean?

I have used a default value 200 and what I get is https://github.com/ykyouhei/KYDrawerController/issues/139

@bhavuk-webkul did you solve this issue?

[2019-03-24 15:25] anonym24 commented on #126
it's not supposed to be this way

[2019-03-25 06:53] bhavuk-webkul commented on #131
yes i have solved this issue

[2019-03-25 06:53] #131 closed

[2019-03-26 14:28] BigDada1 opened #140 "Update to Swift 5.0"
After updating my app to Swift 5, I've got some (new) compiler warnings

- `KYDrawerController.swift:378:36: 'drawerController(_:stateChanged:)' is deprecated: renamed to 'drawerController(_:didChangeState:)'` (see #124)
- `KYDrawerController.swift:208:23: Expression implicitly coerced from 'UIView?' to 'Any'` (new)
- `KYDrawerController.swift:219:23: Expression implicitly coerced from 'UIView?' t

[2019-03-28 09:58] filipealva commented on #140
I know that it's still going to need to update to Swift 5.0 soon, but if you're stuck with these errors you can fix by adding this script at the end of your Podfile:

[code]

[2019-03-29 09:07] BigDada1 commented on #140
Yes, this Podfile script kills the `Expression implicitly coerced` warnings. But on the other side, there appears the `Conversion to Swift 5 is available` issue in the issue navigator – and #124 still remains in both variants.

[2019-05-15 20:04] SwiftCrew opened #142 "How to disable pan gesture"

[2019-08-02 05:53] hchoang commented on #142
Your issue has been resolved:
https://github.com/ykyouhei/KYDrawerController/issues/17

[2019-08-24 07:06] zishanj opened #143 "Without storyboard"
Is it possible to use it without storyboard, straight from code? Any working example?

[2019-08-24 08:49] #143 closed, assigned to nobody

[2019-08-24 09:27] zishanj commented on #123
use this code in subview controller:

[code]
to enable it again use it in same subview controller's `viewWillDisappear` and set it to `true`.

[2019-08-24 09:29] zishanj commented on #142
Sample code on [#123](https://github.com/ykyouhei/KYDrawerController/issues/123#issuecomment-524535700)

[2019-08-24 09:29] zishanj commented on #17
sample code on [#123](https://github.com/ykyouhei/KYDrawerController/issues/123#issuecomment-524535700)

[2019-09-19 09:36] tdermaris opened #144 "Cannot invoke didSelectRow or canMoveRowAt in drawer viewController"
I use the storyboard implementation and I have a table view controller in drawerController with several options. What happens is that I cannot select or reorder a row in my tableview.
I saw the there are two gestures but when I tried gesture.cancelsTouchesInView = false, nothing happened.
Am I doing something wrong?

[2019-09-24 04:25] rhangad opened #145 "Pan Gesture has stopped working"
Hi. I recently just updated to Xcode 11. And I noticed that the pan gesture is not working anymore. Maybe it has something to do with the new presentation modes in Xcode 11?

[2019-09-24 08:05] BigDada1 commented on #145
This seems to be a bug of the Xcode 11 simulator of iOS 13 devices only. The gesture works in real iOS 13 devices. See [ScreenEdgePanGestureDemo](https://github.com/BigDada1/ScreenEdgePanGestureDemo) for details.

[2019-10-01 07:34] BigDada1 commented on #145
This seems to be an [intentional change by Apple](https://stackoverflow.com/a/58175406/12113606). Just show the device bezels in simulator: `Window > Show Device Bezels`.

[2019-10-29 16:33] jbarros35 commented on #28
it does not work at all

[2020-02-17 11:32] srikanthkumarmailid07 commented on #142
drawerController.screenEdgePanGestureEnabled = false

[2020-04-30 05:12] deepaksuthar opened #146 "preferredStatusBarStyle from child view controllers not working."
[THIS IS MORE OF A SUGGESTION]

Just add this under override methods in KYDrawerController.swift
So that statusBarStyle can be changed from child viewcontrollers.

 override open var childForStatusBarStyle: UIViewController? {
        return mainViewController
    }

[2020-05-10 15:55] ChetanRajagiri commented on #138
@Hashir524 any update on this?

[2020-05-27 03:41] maulikshah09 commented on #85
I have another issue.. I think similar to this...I have close drawer then view will appear called. I want main view don't refresh when come back to side menu

[2020-05-27 10:48] maulikshah09 opened #147 "how to stop refreshing my Home controller?"
hello

I have client requirement dashboard don't refresh. when i tap on side menu then tap on dashboard.my view will appear  call.

How can i stop calling viewwill appear?

[2020-06-05 06:29] prakashmaharjan opened #148 "Upgrade to latest swift version and support for SPM"
Nice UI control.
Would be great if upgraded to latest swift version and support for Swift Package Manager is added.
Thanks

[2020-07-25 07:31] tsaromkar commented on #138
I did it using storyboard, mine wasn't opening too, while the implementation remains the same, on the login screen instead of

let vc = UIStoryboard.init(name: "Main", bundle: Bundle.main).instantiateViewController(withIdentifier: "dashboardMenuViewController") as? DashboardMenuViewController
self.navigationController?.pushViewController(vc!, animated: true)

I used this and it worked:
let storyBo

[2020-09-23 07:42] mankarth004 opened #151 "UITableView Layout issue"
Hi, first of all, thanks for the beautiful library.
I have an app that has a menu as a left drawer and other as regular screens so that I used your library. It is working as expected. The problem is it is throwing an exception regarding the layout of UITableView only once per when app is run. The exception is this.

I know it doesn't cause any critical issues but I just don't want to see that warn

[2020-10-19 18:35] sskiathitis opened #152 "Navigating to a ViewController from AppDelegate"
How can I navigate from AppDelegate to a ViewController keeping the NavigationBar? I tried the following with no luck.

Firstly I instanciated the target ViewController:

let storyboard = UIStoryboard(name: "Main", bundle: nil)
let vc = storyboard.instantiateViewController(withIdentifier: "VC") as? ActionViewController

let ky = self.window?.rootViewController as! KYDrawerController
if let k = ky.

[2021-03-04 10:42] Millapptech commented on #132
Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value: file project_name/KYDrawerController.swift
to set self._drawerConstraint.constant     = 0

[2021-08-16 11:25] Z1napp commented on #151
Hello, @mankarth004, I have the same issue.

For my project it's really critical issue. I have UI freezing at first time, when I'm trying to open controller.
I tried to create symbolic breakpoint with symbol: "UITableViewAlertForLayoutOutsideViewHierarchy" and found a place, where problem is located.
In my case it's occurs in KYDrawerController at 239 line (_containerView.layoutIfNeeded()).
The re

[2021-09-21 15:19] Z1napp opened #153 "UITableView layout issue."
Hello, I would like to have an updated version of library by fixing following issue:

`[TableView] Warning once only: UITableView was told to layout its visible cells and other contents without being in the view hierarchy (the table view or one of its superviews has not been added to a window). This may cause bugs by forcing views inside the table view to load and perform layout without accurate i